In [1]:
greeting = 'Good ' 'Morning!'
print(greeting)

Good Morning!

In [2]:
name = 'Tina'
message = f'Hi, {name} !'
print(message)

Hi, Tina !

In [3]:
count = 10_000_000_000
print(count)

10000000000

In [4]:
bool(99)

True

In [5]:
age = input('Enter your age:')
ticket_price = 20 if int(age) >= 18 else 5
print(f'The ticket price is {ticket_price}')

The ticket price is 20

In [6]:
command = ''

while command.lower() != 'quit':
    command = input('>')
    print(f'Echo:{command}')

Echo:ls
Echo:exho
Echo:cd
Echo:quit

In [11]:
4 % 2

0

In [14]:
def greet(name):
    '''Display a greeting to users'''
    print(f'Hi!{name}')

In [16]:
greet('Tina')

Hi!Tina

#### Recursive function

In [17]:
def count_down(start):
    '''Count down from a number'''
    print(start)

    next = start -1
    if next > 0:
        count_down(next)

In [18]:
count_down(3)

3
2
1

In [19]:
def sumup(n):
    '''Sum up from 1 to n'''
    total = 0
    for i in range(1,n+1):
        total += i
    return(total)

In [20]:
print(sumup(100))

5050

In [21]:
def sumup(n):
    if n > 0:
        return n + sumup(n-1)
    return 0

In [22]:
print(sumup(100))

5050

In [25]:
def sumup(n):
    return n+sumup(n-1) if n> 0 else 0

In [26]:
print(sumup(100))

5050

##### lambda function

In [30]:
## lambda function
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name,last_name)

def first_last(first_name, last_name):
    return f'{first_name} {last_name}'

def last_first(first_name, last_name):
    return f'{last_name} {first_name}'

In [31]:
print(get_full_name("Tina","Chiu",first_last))
print(get_full_name("Tina","Chiu",last_first))

Tina Chiu
Chiu Tina

In [32]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)

full_name = get_full_name("Tina","Chiu", lambda first_name, last_name: f'{first_name} {last_name}')
print(full_name)

full_name = get_full_name("Tina","Chiu", lambda first_name, last_name : f'{last_name} {first_name}')
print(full_name)

Tina Chiu
Chiu Tina

In [33]:
def times(n):
    return lambda x: x * n

In [34]:
double = times(2)
print(double)

<function times.<locals>.<lambda> at 0x166d36a70>

In [35]:
print(double(3))
print(double(4))

6
8

In [46]:
callables = []
for i in (1,2,3):
    callables.append(lambda a=i: a)

In [47]:
for f in callables:
    print(f())

1
2
3

##### Function Docstrings

In [48]:
def add(a, b):
    """ Add two arguments
    Arguments:
        a: an integer
        b: an integer
    Returns:
        The sum of the two arguments
    """
    return a + b

In [49]:
help(add)

Help on function add in module __main__:

add(a, b)
    Add two arguments
    Arguments:
        a: an integer
        b: an integer
    Returns:
        The sum of the two arguments

In [50]:
add.__doc__

' Add two arguments\n    Arguments:\n        a: an integer\n        b: an integer\n    Returns:\n        The sum of the two arguments\n    '

#### List

- 1. Basic modify: append, insert, del, pop, remove
- 2. tuple
- 3. sort(), sorted()
- 4. slice
- 5. unpack
- 6. loop
- 7. find index
- 8. iterator
- 9. map()
- 10. filter()
- 11. reduce()

##### 1. Basic modify: append, insert, del, pop, remove

In [55]:
#append // add element to the end of a list
numbers = [1, 3, 2, 7, 9, 4]
numbers.append(100)

print(numbers)

[1, 3, 2, 7, 9, 4, 100]

In [51]:
#insert // add element to specific position of a list
numbers = [1,2,3,4,5]
numbers.insert(2, 100)
print(numbers)

[1, 2, 100, 3, 4, 5]

In [52]:
#del // delete element from specific position of a list
numbers = [1,2,3,4,5]
del numbers[0]
print(numbers)

[2, 3, 4, 5]

In [53]:
#pop() // remove element from the end of a list and extract the value of position
numbers = [1,2,3,4,5]
last = numbers.pop()
print(last)
print(numbers)

5
[1, 2, 3, 4]

In [54]:
#pop(index) // remove element from the specific position of a list and extract the value of position
numbers = [1,2,3,4,5]
second = numbers.pop(1)
print(second)
print(numbers)

2
[1, 3, 4, 5]

In [56]:
#remove() // remove an element by value, you use the remove() method. Note that the remove() method removes only the first element it encounters in the list.
numbers = [1,2,3,4,5,5]
numbers.remove(5) # only first element will be removed
print(numbers)

[1, 2, 3, 4, 5]

##### 2. tuple

A tuple is a list that cannot change. Python refers to a value that cannot change as immutable. So by definition, a tuple is an **immutable list**.

In [57]:
numbers = (3,)
print(type(numbers))

<class 'tuple'>

In [58]:
numbers = (3)
print(type(numbers))

<class 'int'>

##### 3. sort(), sorted()

In [61]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
guests.sort()
print(guests)
guests.sort(reverse=True)
print(guests)

['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']
['Robert', 'Patricia', 'Mary', 'John', 'Jennifer', 'James']

In [66]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]

def sort_key(company):
    return company[2]

companies.sort(key=sort_key, reverse=True)

print(companies)

[('Apple', 2019, 260.2), ('Google', 2019, 134.81), ('Facebook', 2019, 70.7)]

In [67]:
companies = [('Google', 2019, 134.81),
             ('Apple', 2019, 260.2),
             ('Facebook', 2019, 70.7)]

companies.sort(key=lambda x : x[2], reverse=True)

print(companies)

[('Apple', 2019, 260.2), ('Google', 2019, 134.81), ('Facebook', 2019, 70.7)]

In [68]:
guests = ['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
sorted_guests = sorted(guests)

print(guests)
print(sorted_guests)

['James', 'Mary', 'John', 'Patricia', 'Robert', 'Jennifer']
['James', 'Jennifer', 'John', 'Mary', 'Patricia', 'Robert']

##### 4. slice

sub_list = list[begin: end: step]

##### 5. unpack

In [69]:
colors = ['red', 'blue', 'green']
red, blue, green = colors
print(red)
print(blue)
print(green)

red
blue
green

In [70]:
colors = ['red', 'blue', 'green','purple']
red, blue, *other = colors

print(red)
print(blue)
print(other)

red
blue
['green', 'purple']

##### 6. loop

In [71]:
cities = ['New York','Beijing','Cario','Mumbai','Mexico']
for i , city in enumerate(cities):
    print(f'{i}:{city}')

0:New York
1:Beijing
2:Cario
3:Mumbai
4:Mexico

In [72]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

for index, city in enumerate(cities,1):
    print(f"{index}: {city}")

1: New York
2: Beijing
3: Cairo
4: Mumbai
5: Mexico

##### 7. find index

In [73]:
cities = ['New York', 'Beijing', 'Cairo', 'Mumbai', 'Mexico']

result = cities.index('Mumbai')
print(result)

3

##### 8. iterator

In [81]:
colors = ['red', 'green', 'blue']
colors_iter = iter(colors)
color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

color = next(colors_iter)
print(color)

red
green
blue

In [82]:
colors = ['red', 'green', 'blue']
iterator = iter(colors)

for color in iterator:
    print(color)

red
green
blue

##### 9. map()

iterator = map(fn, list)

In [85]:
def double(bonus):
    return bonus * 2

bonuses = [100, 200, 300]
iterator = map(double, bonuses)
print(list(iterator))

[200, 400, 600]

In [86]:
bonuses = [100, 200, 300]
iterator = map(lambda x: x*2, bonuses)
print(list(iterator))

[200, 400, 600]

In [87]:
names = ['david','peter','jenifer']
new_names = map(lambda name: name.capitalize(), names)
print(list(new_names))

['David', 'Peter', 'Jenifer']

In [88]:
carts = [['SmartPhone', 400],['Tablet',450],['Laptop',700]]
TAX = 0.1
carts = map(lambda item: [item[0],item[1],item[1]*TAX],carts)
print(list(carts))

[['SmartPhone', 400, 40.0], ['Tablet', 450, 45.0], ['Laptop', 700, 70.0]]

##### 10. filter()

In [89]:
scores = [70, 60, 80, 90, 50]
filtered = filter(lambda score: score >=70, scores)
print(list(filtered))

[70, 80, 90]

In [92]:
countries = [
    ['China', 1394015977],
    ['United States', 329877505],
    ['India', 1326093247],
    ['Indonesia', 267026366],
    ['Bangladesh', 162650853],
    ['Pakistan', 233500636],
    ['Nigeria', 214028302],
    ['Brazil', 21171597],
    ['Russia', 141722205],
    ['Mexico', 128649565]
]

filtered = filter(lambda income: income[1]>= 300_000_000, countries)
print(list(filtered))

[['China', 1394015977], ['United States', 329877505], ['India', 1326093247]]

##### 11. reduce()

In [93]:
from functools import reduce

In [94]:
def sum(a,b):
    print(f'a={a}, b={b}, {a}+{b} = {a+b}')
    return(a+b)

scores = [75, 65, 80, 95, 50]
total = reduce(sum, scores)
print(total)

a=75, b=65, 75+65 = 140
a=140, b=80, 140+80 = 220
a=220, b=95, 220+95 = 315
a=315, b=50, 315+50 = 365
365

In [95]:
scores = [75, 65, 80, 95, 50]
total = reduce(lambda a,b : a+b, scores)
print(total)

365

##### 12.  list comprehension

In [96]:
# for loop // normal for loop

numbers = [1, 2, 3, 4, 5]
squares = []
for i in numbers:
    squares.append(i**2)

print(squares)

[1, 4, 9, 16, 25]

In [97]:
# map() & lambda function
numbers = [1, 2, 3, 4, 5]
squares = list(map(lambda num: num**2, numbers))
print(squares)

[1, 4, 9, 16, 25]

In [98]:
# list comprehension
numbers = [1,2,3,4,5]
squares = [num**2 for num in numbers]
print(squares)

[1, 4, 9, 16, 25]

In [101]:
# filter() & lambda function
mountains = [
    ['Makalu', 8485],
    ['Lhotse', 8516],
    ['Kanchendzonga', 8586],
    ['K2', 8611],
    ['Everest', 8848]
]

filtered_moun = filter(lambda height: height[1] > 8600,mountains)
print(list(filtered_moun))

[['K2', 8611], ['Everest', 8848]]

In [102]:
# list comprehesion
mountains = [
    ['Makalu', 8485],
    ['Lhotse', 8516],
    ['Kanchendzonga', 8586],
    ['K2', 8611],
    ['Everest', 8848]
]

filtered_moun = [m for m in mountains if m[1]>8600]
print(filtered_moun)

[['K2', 8611], ['Everest', 8848]]

#### Dictionary

- Dictionary basic
- Dictionary comprehension

In [1]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}
print(person['first_name'])

John

In [4]:
# use get()
ssn = person.get('ssn')
print(ssn)
age = person.get('age')
print(type(age))

None
<class 'int'>

In [6]:
ssn = person.get('ssn','0000000')
print(ssn) # only None will return 000000
age = person.get('age','000000')
print(age)

0000000
25

In [7]:
# add key & value
person['gender'] = 'Femaile'

In [8]:
person

{'first_name': 'John',
 'last_name': 'Doe',
 'age': 25,
 'favorite_colors': ['blue', 'green'],
 'active': True,
 'gender': 'Femaile'}

In [9]:
# del key & value
del person['active']
print(person)

{'first_name': 'John', 'last_name': 'Doe', 'age': 25, 'favorite_colors': ['blue', 'green'], 'gender': 'Femaile'}

Python dictionary provides a method called <items()> that returns an object which contains a list of key-value pairs as ***tuples in a list***.

In [10]:
# looping dictionary --> items()
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

print(person.items())

dict_items([('first_name', 'John'), ('last_name', 'Doe'), ('age', 25), ('favorite_colors', ['blue', 'green']), ('active', True)])

In [11]:
for key, value in person.items():
    print(f'{key}: {value}')

first_name: John
last_name: Doe
age: 25
favorite_colors: ['blue', 'green']
active: True

In [12]:

person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for key in person.keys():
    print(key)

first_name
last_name
age
favorite_colors
active

In [13]:
person = {
    'first_name': 'John',
    'last_name': 'Doe',
    'age': 25,
    'favorite_colors': ['blue', 'green'],
    'active': True
}

for value in person.values():
    print(value)

John
Doe
25
['blue', 'green']
True

In [1]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

new_stocks = {}
for symbol, price in stocks.items():
    new_stocks[symbol] = price*1.02

print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}

In [2]:
stocks = {
    'AAPL': 121,
    'AMZN': 3380,
    'MSFT': 219,
    'BIIB': 280,
    'QDEL': 266,
    'LVGO': 144
}

new_stocks = {symbol: price * 1.02 for (symbol, price) in stocks.items()}

print(new_stocks)

{'AAPL': 123.42, 'AMZN': 3447.6, 'MSFT': 223.38, 'BIIB': 285.6, 'QDEL': 271.32, 'LVGO': 146.88}