#### Set

- format

In [1]:
my_set = {1, 2, 3}
print(my_set)
# or
my_set = set([1, 2, 3])
print(my_set)

{1, 2, 3}
{1, 2, 3}

In [2]:
characters = set('letter')
print(characters)

{'e', 't', 'r', 'l'}

- add()

In [3]:
skills = {'Python programming', 'Software design'}
skills.add('Problem solving')

print(skills)

{'Software design', 'Python programming', 'Problem solving'}

- remove()

In [4]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.remove('Software design')

print(skills)

{'Python programming', 'Problem solving'}

- discard(), if use discard it doesn't raise error if the element is not in the list

In [5]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills.discard('Java')

- pop(), Since the elements in a set have no specific order, the pop() method removes an unspecified element from a set.

In [16]:
skills = {'Problem solving', 'Software design', 'Python programming'}
print(skills)
skill = skills.pop()

print(skill)

{'Software design', 'Python programming', 'Problem solving'}
Software design

- frozenset() returns a new immutable set from an existing one.

In [17]:
skills = {'Problem solving', 'Software design', 'Python programming'}
skills = frozenset(skills)

In [18]:
skills.add('New Skills')

AttributeError: 'frozenset' object has no attribute 'add'

- Set Comprehesion

In [19]:
tags = {'Django', 'Pandas', 'Numpy'}

In [21]:
lowercase_tags = set()
for tag in tags:
    lowercase_tags.add(tag.lower())

print(lowercase_tags)

{'numpy', 'pandas', 'django'}

In [26]:
lowercase_tags = set(list(map(lambda tag : tag.lower(),tags)))
print(lowercase_tags)

{'numpy', 'pandas', 'django'}

In [27]:
lowercase_tags = {tag.lower() for tag in tags}
print(lowercase_tags)

{'numpy', 'pandas', 'django'}

In [28]:
lowercase_tags = {tag.lower() for tag in tags if tag != 'Numpy'}
print(lowercase_tags)

{'pandas', 'django'}

- Union of sets---- union()

In [29]:
s1 = {'Python', 'Java'}
s2 = {'C#', 'Java'}

In [30]:
s = s1.union(s2)
print(s)

{'Python', 'C#', 'Java'}

In [31]:
s = s1 | s2
print(s)

{'Python', 'C#', 'Java'}

In [33]:
rates = {1, 2, 3}
ranks = [2, 3, 4]

ratings = rates.union(ranks)
print(ratings)

{1, 2, 3, 4}

- intersection

new_set = set1.intersection(set2, set3) \
new_set = set1 & set2 & set3

In [37]:
s1 = {'Python', 'Java','C++'}
s2 = {'C#', 'Java', 'C++' }
s3 = {'php','C++','shell'}

In [39]:
s = s1.intersection(s2,s3)
print(s)

{'C++'}

In [38]:
s1 & s2 & s3

{'C++'}

- difference()

In [40]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s1.difference(s2)

print(s)

{'Python'}

In [41]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s2.difference(s1)

print(s)

{'C#'}

In [42]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}
s = s2 - s1

print(s)

{'C#'}

In [48]:
scores = {7, 8, 9}
numbers = [9, 10]
new_scores = scores.difference(numbers)

print(new_scores)

{8, 7}

In [44]:
scores = {7, 8, 9}
numbers = [9, 10]
new_scores = numbers.difference(scores)

print(new_scores)

AttributeError: 'list' object has no attribute 'difference'

- symmetric_difference()

In [49]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1.symmetric_difference(s2)

print(s)

{'Python', 'C#'}

In [50]:
s1 = {'Python', 'Java', 'C++'}
s2 = {'C#', 'Java', 'C++'}

s = s1 ^ s2

print(s)

{'Python', 'C#'}

In [51]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

print(scores.issubset(numbers))

True

- issubset()

In [52]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

print(scores.issubset(numbers))

True

In [53]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores <= numbers
print(result)  # True

result = numbers <= numbers
print(result)  # True

True
True

In [54]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = scores < numbers
print(result)  # True

result = numbers < numbers
print(result)  # False

True
False

- superset()

In [55]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers.issuperset(scores)

print(result)

True

In [56]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers >= scores
print(result)  # True

result = numbers >= numbers
print(result)  # True

True
True

In [57]:
numbers = {1, 2, 3, 4, 5}
scores = {1, 2, 3}

result = numbers > scores
print(result)  # True

result = numbers > numbers
print(result)  # False

True
False

- isdisjoint()

In [58]:
odd_numbers = {1, 3, 5}
even_numbers = {2, 4, 6}

result = odd_numbers.isdisjoint(even_numbers)

print(result)

True

In [59]:
letters = {'A', 'B', 'C'}
alphanumerics = {'A', 1, 2}

result = letters.isdisjoint(alphanumerics)

print(result)

False